
.icon-heart:before { content: '\e800'; } /* '' */
.icon-dot-3:before { content: '\e801'; } /* '' */
.icon-book:before { content: '\e802'; } /* '' */
.icon-tint:before { content: '\e803'; } /* '' */
.icon-volume:before { content: '\e804'; } /* '' */
.icon-cancel-circled2:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-cw:before { content: '\e807'; } /* '' */
.icon-chart-bar:before { content: '\e808'; } /* '' */
.icon-gift:before { content: '\e809'; } /* '' */
.icon-home:before { content: '\e80a'; } /* '' */
.icon-cog-outline:before { content: '\e80b'; } /* '' */
.icon-2-lines-and-angles_develop:before { content: '\e80c'; } /* '' */
.icon-2-lines-and-angles_experiment:before { content: '\e80d'; } /* '' */
.icon-2-lines-and-angles_explore:before { content: '\e80e'; } /* '' */
.icon-2-lines-and-angles_collect:before { content: '\e80f'; } /* '' */
.icon-2-lines-and-angles_copy:before { content: '\e810'; } /* '' */
.icon-garden:before { content: '\e81a'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */