<!-- build:js script/script.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- inject:imports -->
<script src="script/app.js"></script>
<!-- endinject -->
<script src="../bower_components/md-date-time-picker/dist/js/mdDateTimePicker.min.js"></script>
<!-- endbuild -->
</body>
</html>
