// Card
// ============
// Styling for card module

.m-card {
    background: #fff;
    margin: ($size-s * 1.5) 0;
    padding: 0 $size-s;
    border-radius: 10px;
    min-width: 320px;
    box-shadow: 0 5px 0 0 #bbb;
}