// Footer
// ============
// Styling for the footer module

.m-footer {
    padding: 0;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
    overflow: hidden;
    
    .footer-menu {
        @extend %row;
        background: darken(#34495e,0%);
        //border-top: 1px solid #fff;
        padding: 0 30px;

        div {  
            @extend %col-xs-4;
            text-align: center;
        }
        a {
            @extend .icon;
            font-size: $font-xs;
            color: #f5f5f5;
            text-decoration: none;
            position: relative;
            top: 2px;

            &:before {
                font-size: $font-l;
                color: #f5f5f5;
                display: block;
                width: 100%;
                position: relative;
                left: -4px;
                top: 4px;
            }
        }
    }
}
