// Modal
// ============
// Styling for modal

.m-modal {
    position: fixed;
    height: 100vh;
    padding: 0 $size-s;
    z-index: $z-l;

    .close-wrap {
        position: relative;
        top: 50%;
        width: 100%;
        min-width: 300px;
        max-height: 94vh;
        transform: translateY(-53%);
    }

    .inner {
        @extend .m-card;
        overflow-y: scroll;
        max-height: 94vh;
        padding-bottom: 20px;

        header {
            padding-top: $size-s;
            border-bottom: 1px solid #ddd;

            h2 {
                @extend .icon;

                &.dictionary {
                    @extend .icon-002-open-book;
                }
                &.colour {
                    @extend .icon-001-drop-silhouette;
                }
                &.symbol {
                    @extend .icon-003-edit-draw-pencil;
                }
            }
        }
        h2, h2 span {
            font-size: $font-xl;
        }
        h3, h3 span {
            margin: 20px 0 10px 0;
        }
        h4, h4 span, h5, h5 span, h6, h6 span {
            font-size: $font-l;
            font-weight: bold;
        }
        textarea {
            width: 100%;
            min-height: 100px;
            padding: $size-s;
        }
        li {
            padding-top: 0;
        }
    }
    .close {
        @extend .icon;
        @extend .icon-cancel-circled2;
        position: absolute;
        z-index: $z-l + 1;
        background: #fff;
        padding: 0;
        margin: 0;
        border-radius: 50%;
        text-align: center;
        line-height: $font-xl + 1rem;
        width: $font-xl + 1rem;
        font-size: $font-xl + 0.5rem;
        top: -19px;
        right: -10px;
        color: $clr-tertiary;

        &:before {
            margin: 0;
        }
    }
    p {
        font-size: $font-l;
        font-weight: 400;
        margin-top: $size-s;
        padding-bottom: 0;

        span {
            font-size: $font-l;
        }
        &::first-letter {
            text-transform: capitalize;
        }
    }
    .stats {
        padding-top: $size-m;

        h3 {
            margin: $size-m 0 $size-s 0;
        }
        p {
            margin: $size-xs 0;
            padding: 0;
            position: relative;

            strong {
                padding: 0;
                margin: 0;
            }
            .right {
                position: absolute;
                right: $size-m;
                top: 0;
                padding: 0;
                margin: 0;
            }
        }
    }
    .definitions {

        li {
            text-transform: capitalize;

            &:nth-of-type(1n+4) {
                display: none;
            }
        }
    }
    input {
        width: 100px;
    }
    .symbol-clear {
        margin: 0;
        padding: 0;
        text-decoration: none;

        &:before { 
            font-family: 'fontello';
        }
    }
    .symbol-wrap {
        max-height: 55vh;
        overflow-y: scroll;
        margin-top: 0;
        padding-right: $size-s;

        table {
            @extend .pure-table-bordered;
            font-size: $font-l;
            max-width: 100%;
            width: 100%;
            text-align: center;
            cursor: pointer;

            td {
                padding: $size-s;
                border: 1px solid #cbcbcb;
            }
            p { 
                color: #444;
                margin: 0;
                padding: 0;
                font-size: $font-xl;
            }
        }
    }
    .colour-wrap {
        margin-left: 0;
        @extend %cf;

        li {
            float: left; 
            list-style: none;
            margin-bottom: 0;
            padding-top: $size-xs;

            a {
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin: 0;
                padding: 0;
                margin-right: $size-s;

                &.no-colour {
                    border: 1px solid #bbb;
                }
            }
        }
    }
    .wiki-link-wrapper {
        list-style: none;
        margin: 0;
        
        .wiki-link {
            @extend .icon;
            @extend .icon-right-open;

            &.active {
                font-weight: bold;
            }
        }
    }
}





