// Header
// ============
// Styling for the header module

.m-menu {
    padding: $size-m $size-s;
    @extend %cf;
    text-align: center;

    &:before {
        content: "";
        position: absolute;
        width: 1300px;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: $z-min;
        animation: scrollBgRight 35s linear infinite;
        @extend %gpu;
        background: url(../img/stars-bg.jpg) no-repeat;
    }
    @keyframes scrollBgRight {
        0% { transform: translateX(0) }
        100% { transform: translateX(-532px) }
    }
    img {
        max-width: 280px;
        position: relative;
        z-index: $z-m;

        @media (max-width: 400px) {
            max-width: 180px
        }
    }
    h2, h3 {
        @extend %small-caps;
        font-size: $font-m;
        color: rgba(250,250,250,0.8);
        margin-bottom: $size-s;
    }
    h2 {
        margin: $size-s 0 $size-m 0;
        position: relative;
        z-index: $z-m;

        @media (max-width: 400px) {
            margin-bottom: $size-xs;
        }
    }
    .home-bg {
        position: relative;
        padding-top: $size-m;

        &:before {
            content: "";
            border-radius: 50%;
            background: linear-gradient(to bottom, #ba2550 0%, #570015 100%);
            box-shadow: 0 0 180px 0 rgba(250, 250, 250, 0.6);
            padding: $size-m;
            margin-top: $size-m;
            height: 85vh;
            position: absolute;    
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            width: 200%;
            z-index: $z-s;
        }
        .nav-back {
            font-size: $font-xs;
            color: $clr-hlight;
            position: absolute;
            top: 36px;
            left: 40px;
            z-index: $z-m + 1;
            @extend .icon;
            @extend .icon-right-open;

            &:before {
                font-size: $font-l;
                transform: rotate(180deg);
                position: relative;
                top: 3px;
            }
            @media (max-width: 400px) {
                top: 0;
                left: 0;
                right: 0;
            }
        }
    }
    nav a, nav a span {
        color: #fff;
        font-size: $font-l;
    }
    nav {
        @extend %row;
        margin: 0 auto;
        max-width: 400px;

        a {
            display: block;
            margin: 0 0 $size-xs 0;
            text-decoration: none;
            font-weight: 100;

            &:last-of-type {
                margin: 0;
            }
        }
        div {

            a:last-of-type {
                margin-top: $size-xs;
            }
        }
        .category {
            margin: 0 0 $size-m 0;
            padding: $size-l 0 0 0;
            @extend %col-xs-3;
            @extend .icon;
            font-size: $font-m;
            text-align: center;
            position: relative;

            &:before {
                font-size: $font-xxl;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                display: inline-block;
                width: 50px;    
                color: $clr-link;
            }
            @media (max-width: 370px) {
                margin-top: $size-s;
                font-size: $font-s;
            }
            @media (max-width: 330px) {
                font-size: $font-xs;
            }
            &.language { 
                @extend .icon-2-lines-and-angles_collect;
            }
            &.science { 
                @extend .icon-2-lines-and-angles_experiment;
            }
            &.technology { 
                @extend .icon-2-lines-and-angles_develop;
            }
            &.culture { 
                @extend .icon-2-lines-and-angles_explore;
            }
            &.custom { 
                @extend .icon-2-lines-and-angles_copy;
                display: none;
            }
        }
    }
    .scroll-arrow {
        @extend .icon;
        @extend .icon-down-open;
        display: none;
        color: #fff;
        font-size: $font-xl;
        position: absolute;
        text-align: center;
        bottom: -30px;
        z-index: $z-m;
        left: 50%;
        transform: translateX(-50%);
    }
    .choose-list {
        padding: 0 $size-s;
        margin: -$size-s;
        position: relative;
        z-index: $z-m;
        animation-duration: 0.45s;
        @extend %gpu;

        &.slideInRight nav {
            text-align: center;
            display: block;
        }
        &.scroll {
            height: 150px;
            max-height: 150px;
            overflow-y: scroll;

            a {
                margin: 0;
            }
            &+.scroll-arrow {
                display: block;
            }
            &+.scroll-arrow.hidden {
                display: none;
            }
        }
        div {
            text-align: center;

            .custom-list {
                @extend .icon;
                @extend .icon-cancel-circled2;
                color: #fff;
                margin-right: $size-xs;
                cursor: pointer;
            }
            a {
                display: inline-block;
            }
            div {

                p {
                    color: #fff;
                    border-top: 1px solid rgba(250,250,250,0.2);
                    margin-top: $size-m;
                }
                button {
                    padding: $size-xs;
                    margin-right: $size-m;
                    width: 100px;
                }
            }
        }
    }
    .create-list {
        position: absolute;
        bottom: 0;
        width: 250px;
        left: 50%;
        transform: translateX(-50%);
        z-index: $z-m;

        button {
            background: $clr-hlight;
            margin-bottom: $size-m;
            width: 130px;
        }
        .legal {
            color: #fff;
            font-size: $font-xs;
            padding: 0;
            margin: 0;
        }
    }
}
.list-uploader {
    margin-top: $size-m;

    label {
        @extend %small-caps;
    }
    input[type="text"] {
        width: 100%;
    }
}
.options {
    
    .inner {
        padding-bottom: $size-s;
    }
    p {
        border-bottom: 0;

        small {
            line-height: $font-s;

            a {
                display: inline;
            }
        }
        &.low-header {
            margin-bottom: 0;

            &+p {
                margin-top: 0;
            }
        }
    }
    a {
        display: block;
        font-size: $font-s;
        color: $clr-tertiary;
        margin-bottom: 0;
        text-decoration: none;

        &:before {
            font-family: fontello;
        }
    }
    .delete-cancel, .delete-confirm {
        background: $clr-tertiary;
        margin-right: $size-m;
        margin-top: $size-m;
        color: #fff;
    }
    .delete-confirm {
        background: darken($clr-tertiary, 10%);
    }
}
