// Header
// ============
// Styling for the header module

.m-onboarding {
    position: absolute;
    z-index: $z-l + 1;
    background: rgba(0, 0, 0, 0.8);
    margin-top: $size-m;
    padding: 0 $size-s;
    max-width: 300px;
    left: 10px;
    border-radius: 10px;

    &:before {
        content: "";
        top: -15px;
        left: 31px;
        position: absolute;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid rgba(0, 0, 0, 0.8);
    }
    &.onboard-right {
        right: 10px;
        left: auto;
        
        &:before {
            left: auto;
            right: 31px;
        }
    }
    p {
        color: #fff;
        font-size: $font-l;

        &:last-of-type {
            border-bottom: 1px solid fade-out($clr-tertiary, 0.5);
            padding-bottom: $size-m;
            margin-bottom: $size-s;
        }
    }
    button {
        background: $clr-tertiary;
        color: #fff;
        padding: $size-s;
        float: right;
        width: 70px;
    }
}
.m-modal.onboard {

    .inner {
        overflow: hidden;
        padding-bottom: 0;
    }
    .close {
        display: none;
    }
    p {
        word-wrap: break-word;
        
        &:last-of-type {
            border-bottom: 1px solid fade-out($clr-tertiary, 0.5);
            padding-bottom: $size-m;
            margin-bottom: $size-s;
        }
    }

    button {
        background: $clr-tertiary;
        padding: $size-s;
        float: right;
        width: 150px;
        color: #fff;
    }
    a {
        color: $clr-tertiary;
    }
}