// Query wrapper
// ============
// Wraps around the query

.m-query-wrapper {
    @extend .m-card;
    padding-top: $size-s;
    margin: $size-m $size-s;
    position: relative;

    header {
        border-bottom: 1px solid #ddd;
        margin-bottom: $size-s;
        
        h2 {
            @extend .icon-graduation-cap;
            @extend .icon;
        }
    }  
    .hearts {
        position: absolute;
        top: $size-s;
        right: $size-s;

        p {
            @extend .icon-heart;
            @extend .icon;
            display: inline-block;
            padding: 0;
            margin: 0;
            color: $clr-tertiary;
            font-size: $font-m;

            &:before {
                margin-right: 0;
            }
        }
    }
    p {
        @extend %small-caps;

        .query-holder {
            text-transform: capitalize;
            font-size: $font-l;
            font-weight: 400;
            padding-left: $size-xs;
        }
    }
    .query-form {
        position: relative;
        
        .input-wrap {
            width: 100%;
            padding-right: 140px;

            input {
                width: 100%;
                padding: $size-s;
                border-radius: 4px;
                box-shadow: inset 0 2px 3px 0 rgba(0,0,0,0.1);
                border: 1px solid #ccc;
            }
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
            width: 130px;
            position: absolute;
        }
    }
    .result-holder {
        border-top: 1px solid #ddd;
        margin-top: $size-s;
        padding-bottom: $size-s;
        text-transform: none;
        font-weight: 400;
        letter-spacing: normal;
    }
}