// Query wrapper
// ============
// Wraps around the query

.m-query {
    @extend .m-card;
    padding-top: $size-s;
    margin: 0;
    position: relative;
    animation-duration: 0.5s;

    header {
        border-bottom: 1px solid #ddd;
        margin-bottom: $size-s;
        
        h2 {
            @extend .icon-graduation-cap;
            @extend .icon;
            line-height: 32px;
        }
    }  
    .hearts {
        position: absolute;
        top: $size-s;
        right: $size-s;

        p {
            @extend .icon-heart;
            @extend .icon;
            display: inline-block;
            padding: 0;
            margin: 0;
            color: $clr-tertiary;
            font-size: $font-m;

            &:before {
                margin-right: 0;
            }
        }
    }
    p {
        @extend %small-caps;
        padding-top: 0;

        .query-holder {
            @extend %text-light;
            display: inline-block;
            font-size: $font-l;
            text-transform: none;
            margin: 0;
            padding: 0;
            padding-left: $size-xs;
        }
    }
    .query-form {
        position: relative;
        
        .input-wrap {
            width: 100%;
            padding-right: 122px;
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
            width: 110px;
            position: absolute;
        }
    }
    .result-holder {
        border-top: 1px solid #ddd;
        font-size: $font-m;
        margin-top: $size-s;
        padding-top: $size-s;
        padding-bottom: $size-s;
        text-transform: none;
        font-weight: 400;
        letter-spacing: normal;
    }
}