// Term wrapper
// ============
// Cards for each term

.m-term-wrapper {
    @extend .m-card;
    @extend %cf;
    overflow: hidden;

    .term-holder {
        float: left;
        @extend %text-light;
        font-size: $font-l;
        text-transform: capitalize;
        position: relative;
        z-index: $z-m;
        top: 26px;
        min-height: 86px;
        padding-right: 150px;
        padding-left: 30px;
        @extend .icon;
        @extend .icon-volume;

        &.lines-2 {
            top: 18px;

            &:before {
                top: 22px;
            }
        }
        &.lines-3, &.lines-4, &.lines-5 {
            top: 12px;

            &:before {
                top: 30px;
            }
        }
        &.lines-4, &.lines-5 {
            top: 0;

            &:before {
                top: 20px;
            }
        }
        &:before {
            cursor: pointer;
            margin-right: $size-s;
            position: absolute;
            left: -5px;
        }
        &.no-speak {
            padding-left: 0;
            
            &:before {
                display: none;
            }
        }
        @media (max-width:340px) {
            font-size: $font-m;
            line-height: $font-m;
        }
    }
    .theme-holder {
        position: absolute;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        left: 0;
        z-index: $z-m - 1;
        overflow: hidden;

        .symbol-holder {
            font-size: 120px;
            transform: rotate(30deg);
            display: inline-block;
            color: rgba(0,0,0,0.2);
            position: relative;
            top: -20px;
            left: 0;
        }
        &.bg-active .symbol-holder {
            color: rgba(250,250,250,0.2);
        }
    }
    .right {
        @extend %background-striped;
        position: absolute;
        right: $size-s;
        z-index: $z-l;
        border-left: 1px solid rgba(0,0,0,0.1);
        padding: 0 $size-s;
        margin-right: -$size-s;

        button {
            margin-bottom: $size-s - ($size-1px * 2);
        }
    }
    .term-views {
        text-align: center;
        font-size: $font-s;
        padding-top: $size-xs;
        margin-bottom: $size-xs;
        position: relative;
        top: 3px;

        span {
            @extend %small-caps;

            &:first-of-type {
                position: relative;
                top: -2px;
            }
        }
        .count {
            @extend %text-light;
        }
    }
    .definition-wrapper {
        clear: both;
        margin: 0 -$size-s;
        padding: $size-s;
        box-shadow: inset 0 5px 10px 0 rgba(0,0,0,0.05);
        background: $clr-lighter;
        border-top: 1px solid #ddd;
        position: relative;
        z-index: $z-m;
        animation-duration: 0.35s;

        .definition-holder {
            @extend %text-light;
            font-size: $font-l;
            text-transform: capitalize;
            padding-bottom: $size-s;
            padding-right: 140px;
 
            @media (max-width:340px) {
                font-size: $font-m;
                line-height: $font-m;
            }
        }
        .helpers {
            position: absolute;
            right: $size-s;
            top: 20px;

            .lookup, .colour, .symbol {
                @extend .icon;
                font-size: $font-m;
                background: lighten($clr-dark, 15%);
                color: #f5f5f5;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                line-height: 30px;
                padding-top: 0;
                margin-left: 2px;
                text-align: center;
                display: inline-block;
            }
            .lookup {
                @extend .icon-book;
            }
            .colour {
                @extend .icon-tint;
            }
            .symbol {
                @extend .icon-garden;
            }
        }
        .support-wrapper {
            @extend %cf;
            border-top: 1px solid #ddd;
            padding-top: $size-s;
            text-align: center;

            div {
                width: 50%;
                float: left;
            }
            table {
                text-align: left;
            }
            .irregular {
                font-weight: bold;
                color: $clr-tertiary;
            }
            img {
                max-width: 100%;
            }
            p {
                margin-bottom: $size-m;
                text-align: left;
                text-transform: capitalize;
            }
            p.credit, p.credit * {
                font-size: 10px;
                margin-top: -26px;
                line-height: 12px;
            }
            h3 {
                text-align: left;
            }
        }
    }
}