body {
    background: #000;
}
.container {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    background: #666;
    padding: $size-m;

    * {
        color: #fff;
    }
    
}
.term-wrapper {
    @extend %cf;
    padding: $size-m 0;

    >* {
        float: left;
        margin-right: $size-m;
    }
    .term-views {
        border: 1px solid #666;
        padding: $size-s;
    }
}
[type="text"] {
    color: #000;
}
.hearts {
    position: absolute;
    top: $size-m;
    right: $size-m;

    p {
        display: inline-block;
    }
}
button {
    padding: $size-s $size-m;
    border-radius: 5px;
    cursor: pointer;
    color: #444 !important;

    &.disabled {
        cursor: default;
    }
}
.hidden {
    display: none;
}
.support-wrapper {
    @extend %row;

    div {
        @extend %col-xs-6;
    }
}
table {
    @extend .pure-table;
}