@font-face {
  font-family: 'feather';
  src: url('../font/feather.eot?42045440');
  src: url('../font/feather.eot?42045440#iefix') format('embedded-opentype'),
       url('../font/feather.woff2?42045440') format('woff2'),
       url('../font/feather.woff?42045440') format('woff'),
       url('../font/feather.ttf?42045440') format('truetype'),
       url('../font/feather.svg?42045440#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?42045440#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "feather";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-feather_agitate:before { content: '\21'; } /* '!' */
.icon-feather_aid:before { content: '\22'; } /* '&quot;' */
.icon-feather_alarm:before { content: '\23'; } /* '#' */
.icon-feather_alert:before { content: '\24'; } /* '$' */
.icon-feather_amaze:before { content: '\25'; } /* '%' */
.icon-feather_amplify:before { content: '\26'; } /* '&amp;' */
.icon-feather_analyze:before { content: '\27'; } /* ''' */
.icon-feather_blend:before { content: '\28'; } /* '(' */
.icon-feather_bloom:before { content: '\29'; } /* ')' */
.icon-feather_bookmark:before { content: '\2a'; } /* '*' */
.icon-feather_announce:before { content: '\2b'; } /* '+' */
.icon-feather_arrange:before { content: '\2c'; } /* ',' */
.icon-feather_arrest:before { content: '\2d'; } /* '-' */
.icon-feather_ask:before { content: '\2e'; } /* '.' */
.icon-feather_assist:before { content: '\2f'; } /* '/' */
.icon-feather_attract:before { content: '\30'; } /* '0' */
.icon-feather_avoid:before { content: '\31'; } /* '1' */
.icon-feather_bake:before { content: '\32'; } /* '2' */
.icon-feather_balance:before { content: '\33'; } /* '3' */
.icon-feather_battle:before { content: '\34'; } /* '4' */
.icon-feather_be:before { content: '\35'; } /* '5' */
.icon-feather_beat:before { content: '\36'; } /* '6' */
.icon-feather_bootleg:before { content: '\37'; } /* '7' */
.icon-feather_bounce:before { content: '\38'; } /* '8' */
.icon-feather_break:before { content: '\39'; } /* '9' */
.icon-feather_brew:before { content: '\3a'; } /* ':' */
.icon-feather_broadcast:before { content: '\3b'; } /* ';' */
.icon-feather_browse:before { content: '\3c'; } /* '&lt;' */
.icon-feather_brush:before { content: '\3d'; } /* '=' */
.icon-feather_build:before { content: '\3e'; } /* '&gt;' */
.icon-feather_burn:before { content: '\3f'; } /* '?' */
.icon-feather_bury:before { content: '\40'; } /* '@' */
.icon-feather_buy:before { content: '\41'; } /* 'A' */
.icon-feather_caffeinate:before { content: '\42'; } /* 'B' */
.icon-feather_calculate:before { content: '\43'; } /* 'C' */
.icon-feather_call:before { content: '\44'; } /* 'D' */
.icon-feather_carry:before { content: '\45'; } /* 'E' */
.icon-feather_catch:before { content: '\46'; } /* 'F' */
.icon-feather_celebrate:before { content: '\47'; } /* 'G' */
.icon-feather_charge:before { content: '\48'; } /* 'H' */
.icon-feather_chart:before { content: '\49'; } /* 'I' */
.icon-feather_chat:before { content: '\4a'; } /* 'J' */
.icon-feather_chop:before { content: '\4b'; } /* 'K' */
.icon-feather_clean:before { content: '\4c'; } /* 'L' */
.icon-feather_cleanse:before { content: '\4d'; } /* 'M' */
.icon-feather_climb:before { content: '\4e'; } /* 'N' */
.icon-feather_clone:before { content: '\4f'; } /* 'O' */
.icon-feather_close:before { content: '\50'; } /* 'P' */
.icon-feather_clutch:before { content: '\51'; } /* 'Q' */
.icon-feather_code:before { content: '\52'; } /* 'R' */
.icon-feather_collaborate:before { content: '\53'; } /* 'S' */
.icon-feather_collect:before { content: '\54'; } /* 'T' */
.icon-feather_commit:before { content: '\55'; } /* 'U' */
.icon-feather_compete:before { content: '\56'; } /* 'V' */
.icon-feather_connect:before { content: '\57'; } /* 'W' */
.icon-feather_contact:before { content: '\58'; } /* 'X' */
.icon-feather_contain:before { content: '\59'; } /* 'Y' */
.icon-feather_contribute:before { content: '\5a'; } /* 'Z' */
.icon-feather_control:before { content: '\5b'; } /* '[' */
.icon-feather_cook:before { content: '\5c'; } /* '\' */
.icon-feather_cool:before { content: '\5d'; } /* ']' */
.icon-feather_copy:before { content: '\5e'; } /* '^' */
.icon-feather_cover:before { content: '\5f'; } /* '_' */
.icon-feather_crave:before { content: '\60'; } /* '`' */
.icon-feather_create:before { content: '\61'; } /* 'a' */
.icon-feather_creep:before { content: '\62'; } /* 'b' */
.icon-feather_cry:before { content: '\63'; } /* 'c' */
.icon-feather_curdle:before { content: '\64'; } /* 'd' */
.icon-feather_cut:before { content: '\65'; } /* 'e' */
.icon-feather_dance:before { content: '\66'; } /* 'f' */
.icon-feather_dazzle:before { content: '\67'; } /* 'g' */
.icon-feather_decide:before { content: '\68'; } /* 'h' */
.icon-feather_decorate:before { content: '\69'; } /* 'i' */
.icon-feather_defend:before { content: '\6a'; } /* 'j' */
.icon-feather_deliver:before { content: '\6b'; } /* 'k' */
.icon-feather_design:before { content: '\6c'; } /* 'l' */
.icon-feather_destroy:before { content: '\6d'; } /* 'm' */
.icon-feather_detox:before { content: '\6e'; } /* 'n' */
.icon-feather_die:before { content: '\6f'; } /* 'o' */
.icon-feather_discard:before { content: '\70'; } /* 'p' */
.icon-feather_discover:before { content: '\71'; } /* 'q' */
.icon-feather_discuss:before { content: '\72'; } /* 'r' */
.icon-feather_disguise:before { content: '\73'; } /* 's' */
.icon-feather_divide:before { content: '\74'; } /* 't' */
.icon-feather_download:before { content: '\75'; } /* 'u' */
.icon-feather_draw:before { content: '\76'; } /* 'v' */
.icon-feather_drill:before { content: '\77'; } /* 'w' */
.icon-feather_drink:before { content: '\78'; } /* 'x' */
.icon-feather_drive:before { content: '\79'; } /* 'y' */
.icon-feather_duplicate:before { content: '\7a'; } /* 'z' */
.icon-feather_eat:before { content: '\7b'; } /* '{' */
.icon-feather_edit:before { content: '\7c'; } /* '|' */
.icon-feather_employ:before { content: '\7d'; } /* '}' */
.icon-feather_encourage:before { content: '\7e'; } /* '~' */
.icon-feather_enlarge:before { content: '\e800'; } /* '' */
.icon-feather_enter:before { content: '\e801'; } /* '' */
.icon-feather_erase:before { content: '\e802'; } /* '' */
.icon-feather_examine:before { content: '\e803'; } /* '' */
.icon-feather_expect:before { content: '\e804'; } /* '' */
.icon-feather_experience:before { content: '\e805'; } /* '' */
.icon-feather_experiment:before { content: '\e806'; } /* '' */
.icon-feather_explode:before { content: '\e807'; } /* '' */
.icon-feather_explore:before { content: '\e808'; } /* '' */
.icon-feather_exterminate:before { content: '\e809'; } /* '' */
.icon-feather_extinguish:before { content: '\e80a'; } /* '' */
.icon-feather_extrude:before { content: '\e80b'; } /* '' */
.icon-feather_fail:before { content: '\e80c'; } /* '' */
.icon-feather_fall:before { content: '\e80d'; } /* '' */
.icon-feather_fasten:before { content: '\e80e'; } /* '' */
.icon-feather_father:before { content: '\e80f'; } /* '' */
.icon-feather_feed:before { content: '\e810'; } /* '' */
.icon-feather_fight:before { content: '\e811'; } /* '' */
.icon-feather_fill:before { content: '\e812'; } /* '' */
.icon-feather_film:before { content: '\e813'; } /* '' */
.icon-feather_find:before { content: '\e814'; } /* '' */
.icon-feather_fix:before { content: '\e815'; } /* '' */
.icon-feather_flag:before { content: '\e816'; } /* '' */
.icon-feather_flake:before { content: '\e817'; } /* '' */
.icon-feather_flip:before { content: '\e818'; } /* '' */
.icon-feather_float:before { content: '\e819'; } /* '' */
.icon-feather_flow:before { content: '\e81a'; } /* '' */
.icon-feather_fly:before { content: '\e81b'; } /* '' */
.icon-feather_focus:before { content: '\e81c'; } /* '' */
.icon-feather_fold:before { content: '\e81d'; } /* '' */
.icon-feather_forebode:before { content: '\e81e'; } /* '' */
.icon-feather_form:before { content: '\e81f'; } /* '' */
.icon-feather_format:before { content: '\e820'; } /* '' */
.icon-feather_frame:before { content: '\e821'; } /* '' */
.icon-feather_game:before { content: '\e822'; } /* '' */
.icon-feather_gather:before { content: '\e823'; } /* '' */
.icon-feather_give:before { content: '\e824'; } /* '' */
.icon-feather_glance:before { content: '\e825'; } /* '' */
.icon-feather_glow:before { content: '\e826'; } /* '' */
.icon-feather_glue:before { content: '\e827'; } /* '' */
.icon-feather_grill:before { content: '\e828'; } /* '' */
.icon-feather_groom:before { content: '\e829'; } /* '' */
.icon-feather_grow:before { content: '\e82a'; } /* '' */
.icon-feather_guide:before { content: '\e82b'; } /* '' */
.icon-feather_hail:before { content: '\e82c'; } /* '' */
.icon-feather_hallucinate:before { content: '\e82d'; } /* '' */
.icon-feather_hang:before { content: '\e82e'; } /* '' */
.icon-feather_harvest:before { content: '\e82f'; } /* '' */
.icon-feather_hate:before { content: '\e830'; } /* '' */
.icon-feather_heal:before { content: '\e831'; } /* '' */
.icon-feather_hear:before { content: '\e832'; } /* '' */
.icon-feather_heat:before { content: '\e833'; } /* '' */
.icon-feather_help:before { content: '\e834'; } /* '' */
.icon-feather_hide:before { content: '\e835'; } /* '' */
.icon-feather_hold:before { content: '\e836'; } /* '' */
.icon-feather_home:before { content: '\e837'; } /* '' */
.icon-feather_hypnotize:before { content: '\e838'; } /* '' */
.icon-feather_identify:before { content: '\e839'; } /* '' */
.icon-feather_imagine:before { content: '\e83a'; } /* '' */
.icon-feather_indulge:before { content: '\e83b'; } /* '' */
.icon-feather_influence:before { content: '\e83c'; } /* '' */
.icon-feather_inject:before { content: '\e83d'; } /* '' */
.icon-feather_invade:before { content: '\e83e'; } /* '' */
.icon-feather_iron:before { content: '\e83f'; } /* '' */
.icon-feather_join:before { content: '\e840'; } /* '' */
.icon-feather_keep:before { content: '\e841'; } /* '' */
.icon-feather_kick:before { content: '\e842'; } /* '' */
.icon-feather_kill:before { content: '\e843'; } /* '' */
.icon-feather_kiss:before { content: '\e844'; } /* '' */
.icon-feather_know:before { content: '\e845'; } /* '' */
.icon-feather_laugh:before { content: '\e846'; } /* '' */
.icon-feather_launch:before { content: '\e847'; } /* '' */
.icon-feather_learn:before { content: '\e848'; } /* '' */
.icon-feather_lick:before { content: '\e849'; } /* '' */
.icon-feather_light:before { content: '\e84a'; } /* '' */
.icon-feather_link:before { content: '\e84b'; } /* '' */
.icon-feather_live:before { content: '\e84c'; } /* '' */
.icon-feather_load:before { content: '\e84d'; } /* '' */
.icon-feather_locate:before { content: '\e84e'; } /* '' */
.icon-feather_lock:before { content: '\e84f'; } /* '' */
.icon-feather_look:before { content: '\e850'; } /* '' */
.icon-feather_love:before { content: '\e851'; } /* '' */
.icon-feather_make:before { content: '\e852'; } /* '' */
.icon-feather_manage:before { content: '\e853'; } /* '' */
.icon-feather_manufacture:before { content: '\e854'; } /* '' */
.icon-feather_mark:before { content: '\e855'; } /* '' */
.icon-feather_marry:before { content: '\e856'; } /* '' */
.icon-feather_match:before { content: '\e857'; } /* '' */
.icon-feather_measure:before { content: '\e858'; } /* '' */
.icon-feather_medicate:before { content: '\e859'; } /* '' */
.icon-feather_melt:before { content: '\e85a'; } /* '' */
.icon-feather_merge:before { content: '\e85b'; } /* '' */
.icon-feather_mill:before { content: '\e85c'; } /* '' */
.icon-feather_mine:before { content: '\e85d'; } /* '' */
.icon-feather_mother:before { content: '\e85e'; } /* '' */
.icon-feather_move:before { content: '\e85f'; } /* '' */
.icon-feather_mull:before { content: '\e860'; } /* '' */
.icon-feather_mute:before { content: '\e861'; } /* '' */
.icon-feather_navigate:before { content: '\e862'; } /* '' */
.icon-feather_need:before { content: '\e863'; } /* '' */
.icon-feather_open:before { content: '\e864'; } /* '' */
.icon-feather_operate:before { content: '\e865'; } /* '' */
.icon-feather_organize:before { content: '\e866'; } /* '' */
.icon-feather_pacify:before { content: '\e867'; } /* '' */
.icon-feather_pack:before { content: '\e868'; } /* '' */
.icon-feather_paint:before { content: '\e869'; } /* '' */
.icon-feather_paste:before { content: '\e86a'; } /* '' */
.icon-feather_pay:before { content: '\e86b'; } /* '' */
.icon-feather_perform:before { content: '\e86c'; } /* '' */
.icon-feather_photograph:before { content: '\e86d'; } /* '' */
.icon-feather_pin:before { content: '\e86e'; } /* '' */
.icon-feather_ping:before { content: '\e86f'; } /* '' */
.icon-feather_plan:before { content: '\e870'; } /* '' */
.icon-feather_plant:before { content: '\e871'; } /* '' */
.icon-feather_play:before { content: '\e872'; } /* '' */
.icon-feather_plot:before { content: '\e873'; } /* '' */
.icon-feather_point:before { content: '\e874'; } /* '' */
.icon-feather_poison:before { content: '\e875'; } /* '' */
.icon-feather_prank:before { content: '\e876'; } /* '' */
.icon-feather_pray:before { content: '\e877'; } /* '' */
.icon-feather_present:before { content: '\e878'; } /* '' */
.icon-feather_press:before { content: '\e879'; } /* '' */
.icon-feather_prevent:before { content: '\e87a'; } /* '' */
.icon-feather_prick:before { content: '\e87b'; } /* '' */
.icon-feather_primp:before { content: '\e87c'; } /* '' */
.icon-feather_print:before { content: '\e87d'; } /* '' */
.icon-feather_protect:before { content: '\e87e'; } /* '' */
.icon-feather_publish:before { content: '\e87f'; } /* '' */
.icon-feather_pucker:before { content: '\e880'; } /* '' */
.icon-feather_pull:before { content: '\e881'; } /* '' */
.icon-feather_purr:before { content: '\e882'; } /* '' */
.icon-feather_push:before { content: '\e883'; } /* '' */
.icon-feather_radiate:before { content: '\e884'; } /* '' */
.icon-feather_rain:before { content: '\e885'; } /* '' */
.icon-feather_read:before { content: '\e886'; } /* '' */
.icon-feather_realize:before { content: '\e887'; } /* '' */
.icon-feather_receive:before { content: '\e888'; } /* '' */
.icon-feather_record:before { content: '\e889'; } /* '' */
.icon-feather_reference:before { content: '\e88a'; } /* '' */
.icon-feather_reflect:before { content: '\e88b'; } /* '' */
.icon-feather_refresh:before { content: '\e88c'; } /* '' */
.icon-feather_regret:before { content: '\e88d'; } /* '' */
.icon-feather_reheat:before { content: '\e88e'; } /* '' */
.icon-feather_remember:before { content: '\e88f'; } /* '' */
.icon-feather_remind:before { content: '\e890'; } /* '' */
.icon-feather_report:before { content: '\e891'; } /* '' */
.icon-feather_resize:before { content: '\e892'; } /* '' */
.icon-feather_return:before { content: '\e893'; } /* '' */
.icon-feather_ride:before { content: '\e894'; } /* '' */
.icon-feather_ring:before { content: '\e895'; } /* '' */
.icon-feather_roll:before { content: '\e896'; } /* '' */
.icon-feather_rule:before { content: '\e897'; } /* '' */
.icon-feather_save:before { content: '\e898'; } /* '' */
.icon-feather_say:before { content: '\e899'; } /* '' */
.icon-feather_scare:before { content: '\e89a'; } /* '' */
.icon-feather_schedule:before { content: '\e89b'; } /* '' */
.icon-feather_scroll:before { content: '\e89c'; } /* '' */
.icon-feather_search:before { content: '\e89d'; } /* '' */
.icon-feather_see:before { content: '\e89e'; } /* '' */
.icon-feather_select:before { content: '\e89f'; } /* '' */
.icon-feather_sell:before { content: '\e8a0'; } /* '' */
.icon-feather_send:before { content: '\e8a1'; } /* '' */
.icon-feather_serve:before { content: '\e8a2'; } /* '' */
.icon-feather_sew:before { content: '\e8a3'; } /* '' */
.icon-feather_shake:before { content: '\e8a4'; } /* '' */
.icon-feather_share:before { content: '\e8a5'; } /* '' */
.icon-feather_sharpen:before { content: '\e8a6'; } /* '' */
.icon-feather_shave:before { content: '\e8a7'; } /* '' */
.icon-feather_shift:before { content: '\e8a8'; } /* '' */
.icon-feather_shine:before { content: '\e8a9'; } /* '' */
.icon-feather_shoot:before { content: '\e8aa'; } /* '' */
.icon-feather_shop:before { content: '\e8ab'; } /* '' */
.icon-feather_sing:before { content: '\e8ac'; } /* '' */
.icon-feather_sink:before { content: '\e8ad'; } /* '' */
.icon-feather_sip:before { content: '\e8ae'; } /* '' */
.icon-feather_sit:before { content: '\e8af'; } /* '' */
.icon-feather_skate:before { content: '\e8b0'; } /* '' */
.icon-feather_sleep:before { content: '\e8b1'; } /* '' */
.icon-feather_slice:before { content: '\e8b2'; } /* '' */
.icon-feather_smell:before { content: '\e8b3'; } /* '' */
.icon-feather_snow:before { content: '\e8b4'; } /* '' */
.icon-feather_solve:before { content: '\e8b5'; } /* '' */
.icon-feather_sound:before { content: '\e8b6'; } /* '' */
.icon-feather_sparkle:before { content: '\e8b7'; } /* '' */
.icon-feather_speak:before { content: '\e8b8'; } /* '' */
.icon-feather_spin:before { content: '\e8b9'; } /* '' */
.icon-feather_sprout:before { content: '\e8ba'; } /* '' */
.icon-feather_spy:before { content: '\e8bb'; } /* '' */
.icon-feather_squirt:before { content: '\e8bc'; } /* '' */
.icon-feather_stack:before { content: '\e8bd'; } /* '' */
.icon-feather_stamp:before { content: '\e8be'; } /* '' */
.icon-feather_stand:before { content: '\e8bf'; } /* '' */
.icon-feather_start:before { content: '\e8c0'; } /* '' */
.icon-feather_steer:before { content: '\e8c1'; } /* '' */
.icon-feather_stick:before { content: '\e8c2'; } /* '' */
.icon-feather_stitch:before { content: '\e8c3'; } /* '' */
.icon-feather_stop:before { content: '\e8c4'; } /* '' */
.icon-feather_store:before { content: '\e8c5'; } /* '' */
.icon-feather_stow:before { content: '\e8c6'; } /* '' */
.icon-feather_strain:before { content: '\e8c7'; } /* '' */
.icon-feather_stream:before { content: '\e8c8'; } /* '' */
.icon-feather_stretch:before { content: '\e8c9'; } /* '' */
.icon-feather_strum:before { content: '\e8ca'; } /* '' */
.icon-feather_study:before { content: '\e8cb'; } /* '' */
.icon-feather_stuff:before { content: '\e8cc'; } /* '' */
.icon-feather_submerge:before { content: '\e8cd'; } /* '' */
.icon-feather_succeed:before { content: '\e8ce'; } /* '' */
.icon-feather_suck:before { content: '\e8cf'; } /* '' */
.icon-feather_swim:before { content: '\e8d0'; } /* '' */
.icon-feather_switch:before { content: '\e8d1'; } /* '' */
.icon-feather_sync:before { content: '\e8d2'; } /* '' */
.icon-feather_tag:before { content: '\e8d3'; } /* '' */
.icon-feather_tape:before { content: '\e8d4'; } /* '' */
.icon-feather_target:before { content: '\e8d5'; } /* '' */
.icon-feather_teach:before { content: '\e8d6'; } /* '' */
.icon-feather_thank:before { content: '\e8d7'; } /* '' */
.icon-feather_think:before { content: '\e8d8'; } /* '' */
.icon-feather_thunder:before { content: '\e8d9'; } /* '' */
.icon-feather_tie:before { content: '\e8da'; } /* '' */
.icon-feather_toast:before { content: '\e8db'; } /* '' */
.icon-feather_tower:before { content: '\e8dc'; } /* '' */
.icon-feather_transport:before { content: '\e8dd'; } /* '' */
.icon-feather_trash:before { content: '\e8de'; } /* '' */
.icon-feather_travel:before { content: '\e8df'; } /* '' */
.icon-feather_treat:before { content: '\e8e0'; } /* '' */
.icon-feather_trend:before { content: '\e8e1'; } /* '' */
.icon-feather_turn:before { content: '\e8e2'; } /* '' */
.icon-feather_tweet:before { content: '\e8e3'; } /* '' */
.icon-feather_type:before { content: '\e8e4'; } /* '' */
.icon-feather_unlock:before { content: '\e8e5'; } /* '' */
.icon-feather_urbanize:before { content: '\e8e6'; } /* '' */
.icon-feather_use:before { content: '\e8e7'; } /* '' */
.icon-feather_view:before { content: '\e8e8'; } /* '' */
.icon-feather_volley:before { content: '\e8e9'; } /* '' */
.icon-feather_wait:before { content: '\e8ea'; } /* '' */
.icon-feather_warm:before { content: '\e8eb'; } /* '' */
.icon-feather_wash:before { content: '\e8ec'; } /* '' */
.icon-feather_watch:before { content: '\e8ed'; } /* '' */
.icon-feather_wear:before { content: '\e8ee'; } /* '' */
.icon-feather_weave:before { content: '\e8ef'; } /* '' */
.icon-feather_weigh:before { content: '\e8f0'; } /* '' */
.icon-feather_weld:before { content: '\e8f2'; } /* '' */
.icon-feather_win:before { content: '\e8f4'; } /* '' */
.icon-feather_work:before { content: '\e8f5'; } /* '' */
.icon-feather_worship:before { content: '\e8f6'; } /* '' */
.icon-feather_write:before { content: '\e8f7'; } /* '' */
.icon-feather_zip:before { content: '\e8f8'; } /* '' */
.icon-feather_accommodate:before { content: '\e8f9'; } /* '' */
.icon-feather_adapt:before { content: '\e8fb'; } /* '' */
.icon-feather_add:before { content: '\e8fc'; } /* '' */
.icon-feather_affect:before { content: '\e8fd'; } /* '' */
.icon-feather_agree:before { content: '\e8fe'; } /* '' */
.icon-feather_believe:before { content: '\e8ff'; } /* '' */
.icon-feather_birth:before { content: '\e900'; } /* '' */
.icon-feather_blaze:before { content: '\e901'; } /* '' */
.icon-feather_adjust:before { content: '\e902'; } /* '' */