// Layout
// ============
// Major layout rules to go here

.container {
    padding-bottom: $size-m;
}
.container, .m-modal, .m-footer, .m-onboarding {
    @extend %container;
    width: 600px;   
    max-width: 100%;
    min-height: 100vh;
    z-index: $z-s;
}
.m-onboarding {
    min-height: 0;
}
.m-menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: $z-l;
}
.m-card, .m-header, .m-footer {
    position: relative;
    z-index: $z-m;
}
.terms-wrapper {
    padding-bottom: 10px;
}
.m-footer {
    min-height: 0;
    position: fixed;
    bottom: 0;
}