// Layout
// ============
// Major layout rules to go here

.container {
    padding-bottom: $size-l;
}
.container, .m-modal, .m-footer, .m-menu {
    @extend %container;
    width: 768px;   
    max-width: 100%;
    min-height: 100vh;
    z-index: $z-s;
}
.onboard-wrap, .m-modal {
    position: absolute;
    z-index: $z-l + 1;
    max-width: 400px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

    .inner {
        left: 0;
    }
}
.m-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 64%;
    max-width: 300px;
    min-width: 200px;
    z-index: $z-max;
}
.m-onboarding {
    min-height: 0;
}
.m-menu {
    position: fixed;
    height: 100vh;
    overflow: hidden;
    z-index: $z-l;
}
.m-card, .m-header, .m-footer {
    position: relative;
    z-index: $z-m;
}
.terms-wrapper, .query-wrapper {
    padding: 0 $size-s;
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}
.query-wrapper {
    margin: $size-m auto;
}
.m-footer {
    min-height: 0;
    position: fixed;
    bottom: 0;
}
@media (max-width:340px) {

    header.m-header {
        padding-right: $size-xs;
    }
    .terms-wrapper {
        padding-left: 0;
    }
    div.m-term-wrapper {
        margin-left: 0;
    }
    .m-header .right div.score {
        margin-right: 0;
    }
}