// Patterns
// ============
// Global patterns and mixins go in here

.hidden {
    display: none;
}
.pulse-glow {
    animation:pulse-glow 0.5s infinite alternate;
}
@keyframes pulse-glow {
  from { box-shadow:0px 0px 10px 3px fade-out($clr-primary, 0.8) }
  to { box-shadow:0px 0px 20px 5px fade-out($clr-primary, 0.8) }
}
%background-striped {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQYV2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx7HK4kzAAAAAElFTkSuQmCC
    ) repeat rgba(250,250,250,0.2);
}
%gpu {
    transform: translate3d(0, 0, 0);
}
.explosion {
    width: 400px;
    height: 400px;
    position: absolute;
    right: -130px;
    margin-top: -140px;
    z-index: $z-m + 1;
    pointer-events: none;
}
.particle {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    animation-duration: 1.5s;
    color: $clr-hlight;
    opacity: 0;
    @extend %gpu;
}
@for $i from 1 through 25 {

    @keyframes anim-#{$i} {
        0% {
            transform: translate(0px,0px);
            opacity: 1;
        }
        100% {
            transform: translate(random(150)+px,random(150)+px);
            opacity: 0;
        }
    }
    .particle:nth-child(#{$i}) {
        top: 50%;
        left: 50%;
        $width: random(25);
        font-size: $width + px;
        animation-duration: 1s;
        color: $clr-hlight;
    }
    .explode .particle:nth-child(#{$i}) {
        animation-name: anim-#{$i};
    }
}
@for $i from 26 through 50 {

    @keyframes anim-#{$i} {
        0% {
            transform: translate(0px,0px);
            opacity: 1;
        }
        100% {
            transform: translate(random(150)*-1 + px,random(150)*-1 + px);
            opacity: 0;
        }
    }
    .particle:nth-child(#{$i}) {
        $width: random(15);
        font-size: $width + px;
    }
    .explode .particle:nth-child(#{$i}) {
        animation-name: anim-#{$i};
    }
}