// Typography
// ============
// Global typographic styles go in here

h2 {
    padding: 0;
    font-size: $font-l;
    font-weight: 100;

    &.icon {
        
        &:before {
            margin-right: 12px;
            color: #555;
        }
    }
}
%text-light {
    font-size: $font-m;
    font-weight: 400;
}
%small-caps {
    font-size: $font-xs;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}