extends includes/_head

block title
	title Home

block content

	.m-loader
		.splash-icon
		.loader
			img(src="img/brand/logo.svg")
			span.loader-item L
			span.loader-item O
			span.loader-item A
			span.loader-item D
			span.loader-item I
			span.loader-item N
			span.loader-item G

	.container
		.m-modal.hidden
			.inner
				a(href="#").close
				.content
		
		.onboard-wrap
			.m-onboarding.hidden
		
		.m-menu.hidden
			a(href="#").close
			.animated-bg
				.icon-lines-and-angles_assist.infinite.animated.pulse
				.icon-lines-and-angles_believe.infinite.animated.pulse
				.icon-lines-and-angles_brew.infinite.animated.pulse
				.icon-lines-and-angles_calibrate.infinite.animated.pulse
				.icon-lines-and-angles_explore.infinite.animated.pulse
				.icon-lines-and-angles_fly.infinite.animated.pulse
				.icon-lines-and-angles_glance.infinite.animated.pulse
				.icon-lines-and-angles_steam.infinite.animated.pulse
				.icon-lines-and-angles_swim.infinite.animated.pulse
				.icon-lines-and-angles_strum.infinite.animated.pulse
				.icon-lines-and-angles_transport.infinite.animated.pulse

			img(src="img/brand/logo_white.svg")
			h2 Choose a list to learn:
			.choose-list
				nav
			.create-list
				h3 Or add your own:
				button.upload-info Create a list
				p.legal © Copyright 2017 Alex Plummer

		header.m-header
			h1 
			.right
				a(href="#").settings
				.score
					p
						| Score:
						span.score-holder 0

		.query-wrapper.hidden
			.m-query
				header
					h2 Daily Test
					.hearts
				p.list-action 
					| Translate: 
					span.query-holder
				.query-form
					.input-wrap
						input(type="text", placeholder="Enter definition").query-input
					button.query-submit Check
				p.result-holder.hidden
		.terms-wrapper

		footer.m-footer
			.progress-bar
			h4 Progress: 
				span.completed 0 
				span.remaining / 0

	include includes/_under

