extends includes/_head

block title
	title Home

block content

	.m-loader
		.splash-icon
		.loader
			img(src="img/brand/logo.svg")
			span.loader-item L
			span.loader-item O
			span.loader-item A
			span.loader-item D
			span.loader-item I
			span.loader-item N
			span.loader-item G

	.m-nav.hidden 

		.nav-close
		nav
			a(href="#").view-all.icon-home View all 
	.nav-bg

	.container
		.m-modal.hidden
			.inner
				a(href="#").close
				.content
		
		.onboard-wrap
			.m-onboarding.hidden
		
		.m-menu.hidden
			a(href="#").close

			img(src="img/brand/logo_white.svg")
			.home-bg
				a.nav-back.hidden(href="#") Back
				h2 Choose a category:
				.choose-list
					nav
						a(href="#").category.language Language
						a(href="#").category.science Science
						a(href="#").category.technology Technology
						a(href="#").category.culture Culture
						a(href="#").category.custom Your lists
				.scroll-arrow

			.create-list
				h3 Or add your own list:
				button.upload-info Create a list
				p.legal © Copyright 2017 Alex Plummer
		
		header.m-header
			h1 
			.right
				a(href="#").settings
				.score
					p
						| Score:
						span.score-holder 0
			.m-progress-bar
				.progress-bg
				h4 
					span.completed 0 
					span.remaining / 0

		.query-wrapper.hidden
			.m-query
				header
					h2 Daily Test
					.hearts
				p.list-action 
					| Translate: 
					span.query-holder
				.query-form
					.input-wrap
						input(type="text", placeholder="Enter definition").query-input
					button.query-submit Check
				p.result-holder.hidden
		.terms-wrapper

		footer.m-footer
			.footer-menu 
				div
					a(href="#").refresh.icon-cw Refresh
				div
					a(href="#").store.icon-gift Store
				div
					a(href="#").stats.icon-chart-bar Stats

	include includes/_under

