extends includes/_head

block title
	title Home

block content

	.container
		.m-modal.hidden
			.inner
				header
					a(href="#").close
					h2 Dictionary definitions
				p
				ul.dictionary-definitions

		header.m-header
			h1 Italian Verbs
			.right
				a(href="#").settings.reset
				.score
					p
						| Score:
						span.score-holder 0

		.m-query-wrapper.hidden
			header
				h2 Daily Test
				.hearts
			p 
				| Translate: 
				span.query-holder
			.query-form
				.input-wrap
					input(type="text", placeholder="Enter definition").query-input
				button.query-submit Check
			p.result-holder.hidden
		.terms-wrapper

	include includes/_under

