extends includes/_head

block title
	title Home

block content

	.m-loader
		.splash-icon
		.loader
			img(src="img/brand/logo.svg")
			span.loader-item L
			span.loader-item O
			span.loader-item A
			span.loader-item D
			span.loader-item I
			span.loader-item N
			span.loader-item G

	.container
		.m-modal.hidden
			.inner
				a(href="#").close
				.content

		header.m-header
			h1 Italian Verbs
			.right
				a(href="#").settings.reset
				.score
					p
						| Score:
						span.score-holder 0

		.m-query-wrapper.hidden
			header
				h2 Daily Test
				.hearts
			p 
				| Translate: 
				span.query-holder
			.query-form
				.input-wrap
					input(type="text", placeholder="Enter definition").query-input
				button.query-submit Check
			p.result-holder.hidden
		.terms-wrapper

		footer.m-footer
			.progress-bar
			h4 Progress: 
				span.completed 0 
				span.remaining / 0
	
	include includes/_under

